/* 폰트 */
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Choding_hope';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_02@1.0/Choding_hope.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 바디 전체 */
html {
    overflow: hidden;
}
html, body {
    display: block;
    width: 100%;
    height: 100%;
}
/* 섹션 */
.section {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 2s;
    overflow: hidden;
}
#section1 {
    background:linear-gradient( #fff1c6,#f9d495);
    opacity: 0;
}
#section2 {
    background-color: #f9d495;
    position: relative;
}
#section3 {
    background: #50bcdf;
    font-family: '양진체';
}
#section4 {
    background: #d76427;
    font-family: '양진체';  
}
#section5 {
    background:#000;
    font-family: '양진체';
}
/* 섹션1 */
 /* 아이콘&애니메이션 */
.airplane {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 30%;
    right: -10%;
    transform: scaleX(-1);
    animation: airplane 5s 2s linear infinite;
}
@keyframes airplane {
    0% {right: -10%; top: 30%;}
    100% {right: 100%; top: 3%;}
}
.cloud {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 4%;
    right: 100%;
    animation: cloud 10s 2s linear infinite;
}
@keyframes cloud {
    0% {right: 100%;}
    100% {right:0%;}
}
.clouds {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 4%;
    right: 104%;
    animation: cloud 10s 2s linear infinite;
}
.forest {
    position: absolute;
    bottom: -121px;
    right: 0;
}
.bird {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 28%;
    right: 6%;
    transform:scaleX(-1);
    animation:later 3s linear, bird 0.8s linear infinite;
}
@keyframes bird {
    0% {bottom: 28%;}
    15% {bottom:27%;}
    25% {bottom: 26%;}
    50% {bottom: 25%;}
    65% {bottom: 26%;}
    75% {bottom: 27%;}
    100% {bottom: 28%;}
}
.butterfly {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20%;
    right: 20%;
    transform: scaleX(-1);
    animation:later 3s linear, butterfly 3s linear infinite;
}
@keyframes butterfly {
    0% {right: 28%;bottom: 20%;}
    15% {right:26%; bottom: 21%;}
    25% {right: 24%;bottom: 22%;}
    50% {right: 22%;bottom: 20%;}
    65% {right: 24%; bottom: 22%;}
    75% {right: 26%;bottom: 21%;}
    100% {right: 28%; bottom: 20%;}
}
.sun {
    width: 300px;
    height: 300px;
    position: absolute;
    top: -3%;
    left: -1%;
    z-index: 9999;
    animation:later 3s linear,sun2 1s 2s linear, sun 3s linear infinite;
}
@keyframes sun {
    0% {rotate: 0deg;}
    25% {rotate: 100deg;}
    50% {rotate: 180deg;}
    75% {rotate: 270deg;}
    100% {rotate: 360deg;}
}
@keyframes sun2 {
    0% {left: -6%;}
    100% {left: -1%;}
}
.cloud2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 7%;
    right: 8%;
    animation:later 3s linear, cloud2 9s linear infinite;
}
@keyframes cloud2 {
    0% {right: 8%; top:7%;}
    10% {right: 28%; top: 1%;}
    20% {right: 46%; top: 7%;}
    30% {right: 64%; top: 1%;}
    40% {right: 75%; top: 7%;}
    50% {right: 80%; top: 1%;}
    60% {right: 75%;top: 7%;}
    70% {right: 64%;top: 1%;}
    80% {right: 46%;top: 7%;}
    90% {right: 28%;top: 1%;}
    100% {right: 8%; top:7%;}
}
.down_arrow {
    animation: down 3s linear infinite;
}
@keyframes down {
    0% {opacity: 0;}
    40% {opacity: 1;}
    55% {opacity: 0;}
    70% {opacity: 1;}
    100% {opacity: 0;}
}
/* 섹션1 내용 */
.welcome_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: 700;
    font-family: 'Choding_hope';
    color: #9cd4d8;
    animation: welcome 3s linear;
    opacity: 0;
}
@keyframes welcome {
    0% { opacity: 0;}
    50% {opacity: 1;}
    100% { opacity: 0;}
}
.click_box {
    width: 465px;
    height: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: later 3s linear;
    font-family: 'Choding_hope';
    cusor:pointer;
}
@keyframes later {
    0% {opacity: 0;}
    50% {opacity: 0;}
    70% {opacity: 0;}
    100% {opacity: 1;}
}
.click_box2 {
    width: 100%;
    height: 100%;
    position: relative;
}
.door1 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* animation: cloud2 9s linear infinite; */
}
.door2 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* animation: cloud2 9s linear infinite; */
}
.here_click {
    margin: 0;
    color: #9cd4d8;
    font-size:42px;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    text-align: center;
    animation: move 0.7s linear infinite;
    font-family: 'Choding_hope';
}
.here_click p {
    margin: 0;
}
.here_click img {
    text-align: center;
}

@keyframes move {
    0% {top: 27%;}
    15% {top:28%;}
    25% {top: 29%;}
    50% {top: 30%;}
    65% {top: 29%;}
    75% {top: 28%;}
    100% {top: 27%;}
}
.text {
    font-size: 52px;
    text-align: center;
    color: #9cd4d8;
    font-weight: 700;
    font-family: 'Choding_hope'
}
.intro_box {
    width: 575px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
}
.scroll_box {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: none;
}
.scroll_box p {
    margin: 5px 0;
    font-size: 25px;
    font-family: 'Choding_hope';
    color: #fff;
}
.scroll_box img {
    width: 50px;
    height: 50px;
    text-align: center;
}
/* section2 */
/* 이미지 */
.sec2_img_box1 {
    position: absolute;
    top: 12%;
    left: 25%;
}
.flower1 {
    /* position: absolute;
    top: 26.5%;
    left: 20%; */
    animation: flower1 2.5s linear infinite;
}
.flower2 {
    /* position: absolute;
    top: 26.5%;
    left: 23%; */
    animation: flower1 2.5s 0.5s linear infinite;
}
.flower3 {
    /* position: absolute;
    top: 26.5%;
    left: 26%; */
    animation: flower1 2.5s 1s linear infinite;
}
.flower4 {
    /* position: absolute;
    top: 26.5%;
    left: 29%; */
    animation: flower1 2.5s 1.5s linear infinite;
}
@keyframes flower1 {
    0% {transform: translateY(0px);}
    25% {transform: translateY(-7px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(0px);}
    90% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
}
.sec2_img_box2 {
    position: absolute;
    bottom: 12%;
    right: 25%;
}
.flower5 {
    /* position: absolute;
    bottom: 26.5%;
    right: 20%; */
    transform: scale(-1);
    animation: flower2 2.5s linear infinite;
}
.flower6 {
    /* position: absolute;
    bottom: 26.5%;
    right: 23%; */
    transform: scale(-1);
    animation: flower2 2.5s 0.5s linear infinite;
}
.flower7 {
    /* position: absolute;
    bottom: 26.5%;
    right: 26%; */
    transform: scale(-1);
    animation: flower2 2.5s 1s linear infinite;
}
.flower8 {
    /* position: absolute;
    bottom: 26.5%;
    right: 29%; */
    transform: scale(-1);
    animation: flower2 2.5s 1.5s linear infinite;
}
@keyframes flower2 {
    0% {transform:scale(-1) translateY(0px);}
    25% {transform:scale(-1) translateY(-7px);}
    50% {transform:scale(-1) translateY(0px);}
    75% {transform:scale(-1) translateY(0px);}
    90% {transform:scale(-1) translateY(0px);}
    100% {transform:scale(-1) translateY(0px);}
}
/* 섹션2 제목 & 애니메이션 */
.sec2_title_box {
    position: absolute;
    top: 12%;
    left: 78%;
    transition: all 0.7s;
}
.sec2_title_box span {
    display: inline-block;
    font-size: 45px;
    font-family: '양진체';
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.sec2_title_box span:nth-child(1) {
    position: absolute;
    top: -6%;
    left: -27%;
    animation: span1 2s linear infinite;
}
.sec2_title_box span:nth-child(2) {
    animation: span1 2s linear infinite;
    animation-delay: 1s
}
.sec2_title_box span:nth-child(3) {
    animation: span1 2s 2s linear infinite;
}
.sec2_title_box span:nth-child(4) {
    animation: span1 2s 3s linear infinite;
}
.sec2_title_box span:nth-child(5) {
    animation: span1 2s 4s linear infinite;
}
.sec2_title_box span:nth-child(6) {
    animation: span1 2s 5s linear infinite;
}
@keyframes span1 {
    0% {transform: translateY(0px);}
    20% {transform: translateY(-0.2rem);}
    50% {transform:translateY(0px);}
    100% {transform: translateY(0px);}
}
/* 섹션2 내용 */
.skills_box {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: all 0.6s;
    background: #fff;
    box-shadow: 0px 0px 4px #646262;
    border-radius: 6px;
}
.list_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 40px 0;
}
.skill {
    width:calc((100% - (20px * 3)) / 4);
}
.skill:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}
.skill > p {
    margin: 12px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Choding_hope';
    color: #9cd4d8;
}
.img_click_box {
    width:100%;
    position: relative;
    text-align: center;
}
.img_click_box img {
    height: 100px;
    text-align: center;
}
.skill_box {
    display: flex;
    margin: 20px 0;
    height: 60px;
    gap: 20px;
    padding: 20px 0;
    box-sizing: border-box;
}
.skill_bar_box {
    width:150px;
    height: 25px;
    background: #ddd;
    border-radius: 5px;
    
}
.skill_bar {
    width: 0%;
    height: 100%;
    background: #f9d495;
    border-radius: 5px;

}
.count {
    color: rgb(99, 97, 97);
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
}
.display1 {display: block;}
/* 섹션3 */
.port_box {
    width: 100%;
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.port_box-margin {
    width: 100%;
    margin: 160px 0;
    padding: 20px 0;
    box-sizing: border-box;
    border-radius: 0 10px 0 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 8px #6c6b6b;
}
.port_box-margin p {margin: 0;}
.main_img {
    width: 350px;
    height: 450px;
    margin-top: 50px;
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: all 0.5s;
}
.main_img img {
    width: 100%;
    height: 100%;
}
.main_info {
    width: 550px;
    padding: 0 30px;
    box-sizing: border-box;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 0.5s;
    font-family: '양진체';
}
.main_title {
    font-size: 50px;
    color: #50bcdf;
    font-weight: 300;
    margin: 10px 0;
}
.actv {
    font-size: 30px;
    font-weight: 700;
    color: #555;
}
.main_desc1 {
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    color:#404040;
    position: relative;
}
.main_desc1::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 32%;
    left: -7%;
    z-index: 999;
    background: url(./img/icons8-checkmark-24.png) no-repeat center / contain;
}
.tools {
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    color: #404040;
    position: relative;
}
.tools::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 18%;
    left: -7%;
    background: url(./img/icons8-checkmark-24.png) no-repeat center / contain;
}
.tool_box {
    display: flex;
    justify-content: space-evenly;
}
.tool {
    width: calc((100% - (1px * 5)) / 6);
    height: 50px;
    border: 2px solid #fff;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-size: 13px;
    line-height: 49px;
    border-radius: 10px;
}
.hTml {background-color: #f14a4a;}
.Css {background-color: #f5873e;}
.JavaScript {background-color: #d4d22f;}
.JquerY {background-color: #a0ff48;}
.MySql {background-color: #3060ff;}
.giThub {background-color: #a352ff;}
.contents {
    font-size: 24px;
    font-weight: bold;
    color: #404040;
    position: relative;
}
.contents::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 12%;
    left: -7%;
    background: url(./img/icons8-checkmark-24.png) no-repeat center / contain;
}
.contents p {margin:0;     line-height: 60px;}
.contents span {
    font-size: 16px;
    color: #555;
    font-weight: 900;
}
.days {
    display: flex;
    position: relative;
    gap: 20px;
}
.days_title {
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #404040;

}
.days::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 30%;
    left: -7%;
    background: url(./img/icons8-checkmark-24.png) no-repeat center / contain;
}
.days_answer {
    line-height: 60px;
    font-weight: 800;
    font-size: 20px;
    color: #646262;
}
.alink {
    width: 200px;
    height: 60px;
    margin: 10px auto;
    border-radius: 10px;
    line-height: 65px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    background: #50bcdf;
}
/* 섹션3 제목 & 애니메이션 */
.sec3_title_box {
    position: absolute;
    top: 15%;
    left:68%;
    transition: all 2s;
}
.sec3_title_box span {
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    font-family: '양진체';
    color: #fff;
    text-align: center;
}
.sec3_title_box span {
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}
.sec3_title_box span:nth-child(1) {
    position: absolute;
    top: -6%;
    left: -19%;
    animation: span1 2s linear infinite;
}
.sec3_title_box span:nth-child(2) {
    animation: span1 2s linear infinite;
    animation-delay: 1s
}
.sec3_title_box span:nth-child(3) {
    animation: span1 2s 2s linear infinite;
}
.sec3_title_box span:nth-child(4) {
    animation: span1 2s 3s linear infinite;
}
.sec3_title_box span:nth-child(5) {
    animation: span1 2s 4s linear infinite;
}
.sec3_title_box span:nth-child(6) {
    animation: span1 2s 5s linear infinite;
}
.sec3_title_box span:nth-child(7) {
    animation: span1 2s 6s linear infinite;
}
.sec3_title_box span:nth-child(8) {
    animation: span1 2s 7s linear infinite;
}
@keyframes span1 {
    0% {transform: translateY(0px);}
    20% {transform: translateY(-0.2rem);}
    50% {transform:translateY(0px);}
    100% {transform: translateY(0px);}
}
.bicycle_img {
    display: none;
    width: 150px;
    height: 70px;
    background: url(./img/icons8-bicycle-64.png) no-repeat center / contain;
    position: absolute;
    top: 9%;
    right: 32%;
    transform: scaleX(-1);
    animation: bicycle 7s 2s linear, bicycle2 5s 9s linear, bicycle3 7s 14s linear, bicycle4 5s 21s linear;
}
@keyframes bicycle {
    0% {right: 32%;}
    100% {right: 77%;}
}
@keyframes bicycle2 {
    0% {right:77%; top: 9%; transform: scaleX(-1) rotate(90deg);}
    100% {right:77%; top: 75%;transform: scaleX(-1) rotate(90deg);}
}
@keyframes bicycle3 {
    0% {right:77%; top: 77%; transform: scaleX(-1) rotate(180deg);}
    100% {right:15.5%; top: 77%;transform: scaleX(-1) rotate(180deg);}
}
@keyframes bicycle4 {
    0% {right:15.5%; top: 78%; transform: scaleX(-1) rotate(270deg);}
    100% {right:15.5%; top: 11%;transform: scaleX(-1) rotate(270deg);}
}
/* 섹션4 */
/* 섹션4 이미지 & 애니메이션 */
.sec4_img_box {
    width: 150px;
    height: 100px;
    position: absolute;
    bottom: 0%;
    right: 0%;
}
.sunflower {
    width: 110px;
    height:110px;
    position: absolute;
    bottom: 0;
    right: 3%;
}
.smile {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 82%;
    right: 63%;
    transform: scaleX(-1);
    opacity: 0;
    animation: smile 1.4s linear infinite;
}
@keyframes smile {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/* 섹션4 내용 & 제목 */
.about_box {
    width: 100%;
    max-width: 1200px;
    border: 5px solid #fff;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 180px;
    transform: translateY(-50px);
    transition: all 0.5s;
    opacity: 0;
}
.sec4_title {
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-weight: 900;
    font-family: '양진체';
    text-align: center;
    margin: 20px 0 30px;
    transform: translateY(-50px);
    transition: all 0.7s;
    opacity: 0;
}
.about_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.con_box {
    width: 375px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}
.con_box img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.txt p {
    font-size: 17px;
}
.month {
    font-size: 13px;
    color: #fff;
}
.adu p {
    margin:5px;
    text-align: left;
}
.adu p:nth-child(2) {
    margin-top:10px;
}
.download {
    width: 177px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    line-height: 163px;
    position: relative;
    text-align: center;
}
.check1 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 39%;
    left: -3px;
}
.check2 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 39%;
    left: -3px;
    display: none;
}
.download:hover .check2{
    display: block;
}
.download:hover .check1{
    display: none;
}
/* 섹션5*/
/* 섹션 5 이미지 & 애니메이션 */
.moon {
    width: 380px;
    height: 380px;
    position: absolute;
    top: -12%;
    right: -11%;
    z-index: 999;
}
.star1 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5%;
    right: 20%;
    animation: star1 9s linear infinite ;
}
.bar {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 5.5%;
    left: 0;
}
@keyframes star1 {
    0% {right: 20%;}
    100% {right: 100%;}
}
.star2 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8%;
    right: 30%;
    animation: star2 10s linear infinite ;
}
.bar2 {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 8.5%;
    left: 0;
}
@keyframes star2 {
    0% {right: 30%;}
    100% {right: 100%;}
}
.star3 {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 14%;
    right: 0%;
    animation: star3 7s linear infinite ;
}
.bar3 {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 14.5%;
    left: 0;
}
@keyframes star3 {
    0% {right: 0%;}
    100% {right: 100%;}
}
/* 섹션5 제목 & 내용 */
.contect {
    width: 100%;
    max-width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    transition: all 0.5s;
    opacity: 0;
}
.contect_title {
    width: 100%;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: '양진체';
    margin: 50px 0;
}
.item_s {
    width: 300px;
    text-align: center;
    transform: translateY(-50%);
    transition: all 0.8s;
    opacity: 0;
}
.item_s img {
    width: 120px;
    height: 120px;

}
.item_s p {
    font-size: 20px;
    color: #fff;
}
.second {font-size: 17px;}
/* 인디케이터 */
.indicator {
    position: fixed;
    bottom: 35px;
    left: 40px;
}
.indi_bar {
    color: rgb(104, 103, 103);
    font-size: 27px;
    font-weight: bold;
    line-height: 50px;
    opacity: 0;
    transition: all 0.5s;
    font-family: '양진체';
}
.indi_bar:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
}
.indi_active {
    color: #fff;
    font-size: 50px;
}
/* 타이핑 */
.blink {
    animation: blick 0.5s infinite;
    font-size: 50px;
    font-family: 'Choding_hope';
}
@keyframes blick {
    to {
        opacity:0;
    }
}
/* 반응형 */
@media screen and (max-width:1660px) {
    .bicycle_img {display: none !important;}
}
@media screen and (max-width:1400px) {
    .indicator {
        bottom: 5px;
    }
    .indi_bar {
        font-size: 19px;
        line-height: 35px;
    }
    .indi_active {
        color: #fff;
        font-size: 28px;
    }
    .port_box {
        max-width: 1050px;
    }
    .actv {
        font-size: 27px;
    }
    .main_title {
        font-size: 55px;
    }
    .main_desc1 {
        font-size: 21px;
    }
    .tools {
        font-size: 21px;
    }
    .contents {
        font-size: 21px;
    }
    .days_title {
        font-size: 21px;
    }
}
@media screen and (max-width:1400px) {
    .sec2_img_box1 {
        left: 18%;
    }
    .sec2_img_box2 {
        position: absolute;
        bottom: 12%;
        right: 18%;
    }
    .about_box {
        max-width: 1170px;
    }
    .con_box {
        width: 300px;
    }
    .sec3_title_box {
        left: 80%;
        top: 24%;
        transform: rotate(90deg);
    }
    .port_box {
        padding: 0 20px;
        box-sizing: border-box;
        max-width: 800px;
    }
    .skills_box {
        max-width: 910px;
        padding: 0 16px;
    }
    .sec2_title_box {
        left: 80%;
    }
    .img_click_box img {
        height: 80px;
    }
    .skill_box {
        margin: 10px 0;
        height: 0px;
    }
    .skills_box {
        max-width: 830px;
        padding: 0 5px;
    }
    .list_box {
        margin: 10px 0;
    }
    .port_box {
        max-width: 950px;
    }
    .port_box-margin {
        margin: 59px 0;
        padding: 0px 0;
    }
    .skill > p {
        margin: 0px 0;
    }
    .main_img {
        width: 245px;
    }
    .main_info {
        width: 500px;
        padding: 0 30px;
    }
    .tool {
        width: calc((100% - (0px * 5)) / 6);
        font-size: 11px;
    }
    .moon {
        width: 310px;
        height: 310px;
    }
    .contect {
        top: 60%;
    }
    .about_box {
        margin-top: 70px;
    }
    .main_title {
        font-size: 40px;

    }
    .actv {
        font-size: 21px;
    }
    .main_desc1 {
        font-size: 19px;
        line-height: 50px;
    }
    .tools {
        font-size: 19px;
        line-height: 50px;
    }
    .contents {
        font-size: 19px;
    }
    .contents span {
        font-size: 16px;
    }
    .days_title {
        font-size: 19px;
        line-height: 50px;
    }
    .days_answer {
        line-height: 50px;
        font-size: 19px;
    }

}
@media screen and (max-width:990px) {
    
}

